/* DayPicker styles */

.DayPicker {
  color: rgba(0, 0, 0, 0.8);
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

/* Caption & navigation buttons */

.DayPicker-caption {
  line-height: 36px;
}

.DayPicker-weekday {
  line-height: 30px;;
  font-size: 0.875em;
  color: #82888a;
  font-weight: normal;
}

.DayPicker-nav {
  display: block;
  border: 0;
  background-color: transparent;
  position: relative;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  cursor: pointer;
  font-family: 'Icons';
}

.DayPicker-nav--right:before {
  content: "\f054";
}
.DayPicker-nav--left:before {
  content: "\f053";
}

/* Days */

.DayPicker-day {
  height: 3em;
  padding: 0.5em;
  vertical-align: top;
  text-align: right;
  border: 1px solid #dce0e0;
  cursor: pointer;
}

.DayPicker-day:hover:not(.DayPicker-day--outside):not(.DayPicker-day--disabled) {
   background-color: #66c17b;
   color: white;
 }

/* Modifiers */

.DayPicker-day--outside {
  color: #dce0e0 !important;
}

.DayPicker-day--disabled {
  cursor: default;
  color: #dce0e0;
  background-color: #F1F1F1;
}

.DayPicker-day--today {
  color: #5bbd72;
}

.DayPicker-day--selected:not(.DayPicker-day--outside) {
  color: white;
  background-color: #5bbd72;
}

@media only screen and (max-width: 991px) {
  .DayPicker-day {
    height: 4em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .DayPicker-day {
    height: 3em;
  }
}